<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/DEADPOOLv2/lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - Filtering and Sorting Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

checking the datatype for column "item_price", we notice that the dtype of the column is an object.

In [ ]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

changing the datatype for column "item_price" from object to float64

In [ ]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

determining the quantity of products that cost more than $10.00

In [ ]:
chipo_ten = np.count_nonzero(chipo['item_price'] > 10)
print("Quantity of products ordered that are more than $10.00: ", chipo_ten)

Quantity of products ordered that are more than $10.00:  1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

printed below is a df of only 2 columns, "item_name" and also "item_price", showcasing each item with respective price

In [ ]:
chipotle = chipo.groupby('item_name')
chipotle = chipotle['item_price'].sum() / chipotle['quantity'].sum()
chipotle = pd.DataFrame({'item_name': chipotle.index, 'price_per_item': chipotle.values})
chipotle['price_per_item'] = chipotle['price_per_item'].round(2)
chipotle

                                item_name  price_per_item
0                       6 Pack Soft Drink            6.49
1                           Barbacoa Bowl           10.19
2                        Barbacoa Burrito            9.83
3                   Barbacoa Crispy Tacos           10.02
4                     Barbacoa Salad Bowl           10.64
5                     Barbacoa Soft Tacos           10.02
6                           Bottled Water            1.43
7                                    Bowl            7.40
8                                 Burrito            7.40
9                             Canned Soda            1.09
10                      Canned Soft Drink            1.25
11                          Carnitas Bowl           10.38
12                       Carnitas Burrito            9.96
13                  Carnitas Crispy Tacos            9.75
14                         Carnitas Salad            8.99
15                    Carnitas Salad Bowl           11.06
16                    Carnitas Soft Tacos            9.40
17                           Chicken Bowl            9.65
18                        Chicken Burrito            9.43
19                   Chicken Crispy Tacos            9.44
20                          Chicken Salad            9.01
21                     Chicken Salad Bowl            9.99
22                     Chicken Soft Tacos            9.23
23                                  Chips            2.15
24           Chips and Fresh Tomato Salsa            2.78
25                    Chips and Guacamole            4.35
26      Chips and Mild Fresh Tomato Salsa            3.00
27     Chips and Roasted Chili Corn Salsa            2.95
28     Chips and Roasted Chili-Corn Salsa            2.39
29  Chips and Tomatillo Green Chili Salsa            2.95
30    Chips and Tomatillo Red Chili Salsa            2.95
31  Chips and Tomatillo-Green Chili Salsa            2.39
32    Chips and Tomatillo-Red Chili Salsa            2.39
33                           Crispy Tacos            7.40
34                                   Izze            3.39
35                       Nantucket Nectar            3.39
36                                  Salad            7.40
37                          Side of Chips            1.69
38                             Steak Bowl           10.23
39                          Steak Burrito            9.98
40                     Steak Crispy Tacos            9.93
41                            Steak Salad            8.91
42                       Steak Salad Bowl           11.08
43                       Steak Soft Tacos            9.57
44                            Veggie Bowl            9.98
45                         Veggie Burrito            9.64
46                    Veggie Crispy Tacos            8.49
47                           Veggie Salad            8.49
48                      Veggie Salad Bowl           10.14
49                      Veggie Soft Tacos            9.25

### Step 6. Sort by the name of the item

below is the sorted df by "item_name" in ascending order, with new assigned index

In [ ]:
chipo.sort_values(by='item_name', ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

below is code to find the most expensive order, assigned the values to a new df called "chipo_exp"

In [ ]:
chipo_exp = chipo[chipo['item_price']==chipo['item_price'].max()]
chipo_exp
for i in chipo_exp['quantity']:
    if i!=0:
        print("The quantity of the most expensive order is: ",i)

The quantity of the most expensive order is:  15

to find the quantity of the most expensive item, ordered, we first need a df of price by item

In [ ]:
chipotle

                                item_name  price_per_item
0                       6 Pack Soft Drink            6.49
1                           Barbacoa Bowl           10.19
2                        Barbacoa Burrito            9.83
3                   Barbacoa Crispy Tacos           10.02
4                     Barbacoa Salad Bowl           10.64
5                     Barbacoa Soft Tacos           10.02
6                           Bottled Water            1.43
7                                    Bowl            7.40
8                                 Burrito            7.40
9                             Canned Soda            1.09
10                      Canned Soft Drink            1.25
11                          Carnitas Bowl           10.38
12                       Carnitas Burrito            9.96
13                  Carnitas Crispy Tacos            9.75
14                         Carnitas Salad            8.99
15                    Carnitas Salad Bowl           11.06
16                    Carnitas Soft Tacos            9.40
17                           Chicken Bowl            9.65
18                        Chicken Burrito            9.43
19                   Chicken Crispy Tacos            9.44
20                          Chicken Salad            9.01
21                     Chicken Salad Bowl            9.99
22                     Chicken Soft Tacos            9.23
23                                  Chips            2.15
24           Chips and Fresh Tomato Salsa            2.78
25                    Chips and Guacamole            4.35
26      Chips and Mild Fresh Tomato Salsa            3.00
27     Chips and Roasted Chili Corn Salsa            2.95
28     Chips and Roasted Chili-Corn Salsa            2.39
29  Chips and Tomatillo Green Chili Salsa            2.95
30    Chips and Tomatillo Red Chili Salsa            2.95
31  Chips and Tomatillo-Green Chili Salsa            2.39
32    Chips and Tomatillo-Red Chili Salsa            2.39
33                           Crispy Tacos            7.40
34                                   Izze            3.39
35                       Nantucket Nectar            3.39
36                                  Salad            7.40
37                          Side of Chips            1.69
38                             Steak Bowl           10.23
39                          Steak Burrito            9.98
40                     Steak Crispy Tacos            9.93
41                            Steak Salad            8.91
42                       Steak Salad Bowl           11.08
43                       Steak Soft Tacos            9.57
44                            Veggie Bowl            9.98
45                         Veggie Burrito            9.64
46                    Veggie Crispy Tacos            8.49
47                           Veggie Salad            8.49
48                      Veggie Salad Bowl           10.14
49                      Veggie Soft Tacos            9.25

then we filter out the most expensive ones

In [ ]:
chipo_mahal = chipotle[chipotle.price_per_item == chipotle.price_per_item.max()]
chipo_mahal

           item_name  price_per_item
42  Steak Salad Bowl           11.08

based on the previously obtained information, we can work on the whole order list to count the quantity of the most expensive item

In [ ]:
chipo_mahal = chipo[chipo['item_name'].isin(['Steak Salad Bowl'])]
chipo_mahal

,order_id,quantity,item_name,choice_description,item_price
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",9.39
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",9.39
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",9.39
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89
3098,1235,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.39
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",9.39

In [ ]:
steak_price_mahal = chipo_mahal
steak_price_mahal['per_steak'] = steak_price_mahal['item_price'] / steak_price_mahal['quantity']
max_per_steak = steak_price_mahal['per_steak'].max()
steak_price_mahal = steak_price_mahal[steak_price_mahal['per_steak'] == max_per_steak]
steak_price_mahal

C:\Users\amirj\AppData\Local\Temp\ipykernel_40692\510074264.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steak_price_mahal['per_steak'] = steak_price_mahal['item_price'] / steak_price_mahal['quantity']

,order_id,quantity,item_name,choice_description,item_price,per_steak
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89,11.89
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89,11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.89,11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89,11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89,11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89,11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89,11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89,11.89
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89,11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89

summing the quantity of items in each order

In [ ]:
steak_price_mahal['quantity'].sum()

21

In [ ]:
print("The quantity of the most expensive items ordered is: " , steak_price_mahal['quantity'].sum())

The quantity of the most expensive items ordered is:  21

### Step 8. How many times was a Veggie Salad Bowl ordered?

referring to original df

In [ ]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

finding "Veggie Salad Bowl" order, making a new df of them and summing up the quantity

In [ ]:
veggie = chipo[chipo['item_name']=='Veggie Salad Bowl']
veggie.quantity.sum()
print("The quantity of Veggie Salad Bowl ordered is: ",veggie.quantity.sum())

The quantity of Veggie Salad Bowl ordered is:  18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
soda = chipo[chipo['item_name']=='Canned Soda']
soda = soda[soda['quantity']>1]
print("The number of times people ordered more than 1 soda is: " , len(soda))

The number of times people ordered more than 1 soda is:  20